/* colors #F2F2F2 #A6A6A6 #595959 #262626 #0D0D0D 
font-family: 'Josefin Sans', sans-serif; 
font-family: 'Playfair Display', serif;
 */


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #F2F2F2;
    color: white;
}

.wrap {
    width: 80vw;
    margin: 10px auto 0;
}

main {
    color: black;
    padding: 5px 10px;
}

header {
    margin: auto;
    background-image: url(img/header.jpg);
    background-size: 80vw;
    background-position: right 35% bottom 75%;
    background-repeat: no-repeat;
    height: calc(30vw / (53 / 35));
    position: relative;
    color: #262626;
    margin-bottom: 3px;
}

.bg {
    font-family: 'Playfair Display', serif;
    position: absolute;
    width: 40vw;
    bottom: 5px;
    color: #b6b6b6;
    letter-spacing: 1px;
}

.logoText {
    font-size: 45px;
    text-align: center;
}

.logoTextUnder {
    width: 40vw;
    font-size: 17px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 5px;
}

.logoTextUnder:before,
.logoTextUnder:after {
    background-color: #b6b6b6;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.logoTextUnder:before {
    right: 0.5em;
    margin-left: -50%;
}

.logoTextUnder:after {
    left: 0.5em;
    margin-right: -50%;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: solid 1px #262626;
    margin: 1px 0;
}

.top-nav {
    display: none;
}

nav {
    width: 100%;
    height: 30px;
    background-color: #262626;
    position: relative;
    font-weight: 200;
    padding-right: 5px;
}


li {
    float: left;
    list-style: none;
}

li.social {
    float: right;
    list-style: none;
}

a {
    display: block;
    width: 100px;
    font-size: 18px;
    color: #F2F2F2;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: 0.2s;
    padding-top: 4px;
    background-color: #262626;
}

.social a {
    width: 30px;
    font-size: 18px;
    padding-top: 5px;
    transition: 0s;
}

a:hover {
    font-size: 20px;
    color: white;
    padding-top: 4px;
}

.social a:hover {
    padding-top: 5px;
    color: white;
}


main {
    height: 75vh;
    background-color: #F2F2F2;
}

/* @media foe screens smaller than 1024px
*/

@media screen and (max-width: 1023px) {

    .wrap {
        width: 95vw;
        margin: 5px auto 0;
    }

    header {
        background-size: 100vw;
        height: calc(40vw / (53 / 35));
    }

    .bg {
        width: 50vw;
    }

    .logoText {
        font-size: 40px;
    }

    .logoTextUnder {
        font-size: 20px;
        width: 50vw;
    }

    nav {

        height: 35px;
        background-color: #262626;
        position: relative;
        font-weight: 100;
        padding-right: 5px;
        padding-left: 5px;
    }

    a {

        width: 80px;
        font-size: 18px;
        line-height: 23px;
        padding-top: 7px;
    }

    .social a {
        width: 35px;
        font-size: 22px;
        padding-top: 6px;
    }

    a:hover {
        font-size: 21px;
        padding-top: 7px;
    }

    .social a:hover {
        padding-top: 6px;
        font-size: 22px;
    }

    main {
        padding: 5px 10px;
    }
}

/* @media for screens smaller than 767px

*/


@media screen and (max-width: 767px) {
    .wrap {
        width: 100vw;
        margin: 2px auto 0;
    }

    .menu-wrap {
        position: fixed;
        left: 0;
        top: 2px;
        width: 100vw;
    }

    header {
        height: calc(50vw / (53 / 35));
        margin-bottom: 2px;
    }

    .bg {
        width: 50vw;
        bottom: 10px;
    }

    .logoText {
        font-size: 26px;
        margin-left: 5px;
    }

    .logoTextUnder {
        font-size: 17px;
        width: 50vw;
    }

    main {
        padding: 5px 10px;
        margin-top: calc(50vw / (53 / 35) + 60px);
    }

    nav {
        height: 45px;
        padding-right: 10px;
        padding-left: 3px;
    }

    .menu-left {
        display: none;
    }



    .social a {
        width: 40px;
        font-size: 26px;
        padding-top: 9px;
        margin-right: 5px;

    }

    .social a:hover {
        padding-top: 9px;
        font-size: 26px;
    }

    /* Hamburger MENU */

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        color: #F2F2F2;
        height: 45px;
        padding: 2px 0 0 15px;

    }

    .hamburger-text {
        padding: 11px 0 0 5px;
        font-size: 1.2rem
    }

    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu>li {
        margin: 0 1rem;
        overflow: hidden;
    }

    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        display: none;
    }



    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

    #menu-toggle:checked+.menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }

    #menu-toggle:checked+.menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }

    #menu-toggle:checked+.menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    @media (max-width: 700px) {
        .menu-button-container {
            display: flex;
        }

        .menu {
            position: absolute;
            top: 0;
            margin-top: 50px;
            left: 0;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        #menu-toggle~.menu li {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        #menu-toggle:checked~.menu li {
            border: 1px solid #595959;
            height: 2.5em;
            padding: 0.5em;
            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .menu>li {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0.5em 0;
            width: 100%;
            color: white;
            background-color: #262626;
        }

        .menu>li:not(:last-child) {
            border-bottom: 1px solid #595959;
        }

        .menu-down {
            width: 80px;
            font-size: 20px;
            line-height: 23px;
            padding-top: 2px;
        }

        .menu-down:hover {
            font-size: 20px;
            padding-top: 2px;
        }
    }
}